<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> Drop The Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="branding">
                <h1>📦 Drop The Box</h1>
                <a href="/admin" class="admin-btn">👥 관리자 페이지 →</a>
            </div>
        </div>
        <div class="right-panel">
            <form method="post" class="form-box">
                <label for="name" class="form-label">Name</label>
                <input id="name" name="name" class="input" required>
            
                <label for="phone" class="form-label">Phone</label>
                <input id="phone" name="phone" class="input" required>
            
                <label for="address" class="form-label">Address</label>
                <textarea id="address" name="address" class="input textarea" required></textarea>
            
                <button type="submit" class="submit-btn">사용자 등록</button>
            </form>
            
        </div>
    </div>
</body>
</html>
